Package: hearthstone-mod
Section: Game
Architecture: all
Depends: libgtk-3-0 (>= 3.0.0), gtk-sharp3 (>= 2.99), mono-devel (>= 4.0.0), libwebkitgtk2.0-cil (>= 2.0.0)
Maintainer: Harry <cra0zy@gmail.com>
Description: Hearthstone Mod Launcher
Version: 1.0.0.0
